.bai1_frame{
    border: 2px solid #0b054e;
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    
}
.bai1_frame-inside{
    border: 1px solid #795d5d;
    text-align: right;
    padding: 10px;
    margin-bottom: 60px;
}
.bai1_frame table{
    text-align: left;
}